@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
// Normalize
$bg_color:#fff;
$font_color:#868686;
$link_color:#868686;
$link_hover_color:#aaa;
$main_color: rgb(58, 162, 134);


body{
  background: white;
  background-size: cover;
  color: $font_color;
  text-align: center;
  a, a:visited{
    color: $link_color;
    text-decoration:none;
  }
  a:hover{
    color: $link_hover_color;
  }
}

*, *:before, *:after{
  box-sizing:border-box;
  padding:0;
  margin:0;
}
// End of Normalize

#root{
  min-width: 1300px;
}

// Main Navigation
#navigation{
  height: 90px;
  min-width: 1250px;
  ul{
    li:hover{
      cursor:pointer;
    }
    li {
      a{
        display: inline-block;
        padding: 33px;
        font-family: "Comic Sans MS";
        font-size: 0.9em;
        font-weight: 500;
      }
    }
  }

  // Sliding Underline
  #slide-line{
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color:#EF682C;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
}

.btn-green {
  background-color: $main_color;
  color: white;
}

.nav-fixed-top{
  position: fixed;
  top: 0;
  right: 40px;
  z-index: 1030;
  height: inherit;
}

.footer {
  color: white;
  max-height: 100px;
  background-color: $main_color;
}

#nav{
  height: 150px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
  background-color: #EF682C;
}

.logo-content{
  margin-left: 20px;
  background-color: $main_color;
  border-radius: 20px;
}

#logo{
  height: 150px;
  transition: height 0.3s;
}

#logo.smaller {
  height: 75px;
  transition: height 0.3s;
}

.img{
  object-fit: fill;
  height: inherit;
  width: 100%;
  flex: 1;
}

//mailing button
.fixed-bottom-right{
  position: fixed;
  bottom: 7%;
  right: 4%;
  padding: 15px;
  border-radius: 45px;
  font-size: 24px;
  line-height: 1.33;
  background-color: $main_color;

  #mailing-button :hover{
    cursor:pointer;
  }
}

.content{
  padding-top: 100px;
  padding-bottom: 150px;
}

.content-item{
  margin-top: 5rem;
  margin-bottom: 1rem;
}

//newsletter content animation
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


//newsletter content
#container{
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.4);
  text-align: center;
  border-radius: 20px;
  margin: 3em auto;
  background: white;
  height: 300px;
  width: 480px;
  padding: 1em;
}

#container h2 {
  background: #6a6a6a;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Comic Sans MS", serif;
  letter-spacing: 2px;
  font-size: 3em;
  margin: 0;
}

#container p {
  font-family: 'Farsan', cursive;
  margin: 30px 0 1em 0;
  font-size: 1.3em;
  color: #7d7d7d;
}

#container input {
  width: 320px;
  display: inline-block;
  text-align: center;
  border-radius: 7px;
  background: #eee;
  padding: 1em 2em;
  outline: none;
  border: none;
  color: #222;
  transition: 0.3s linear;
}
::placeholder{color: #999;}

#container button {
  background-color: #7d7d7d;
  box-shadow: 0 9px 25px -5px #8c8c8c;
  font-family: 'Abel', sans-serif;
  padding: 0.5em 1.9em;
  margin: 1em 0 0 0;
  border-radius: 7px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1em;
  outline: none;
  border: none;
  transition: 0.3s linear;

}
#container button:hover{transform: translatey(3px);}
#container button:active{transform: translatey(6px);}

.popover {
  background: #fff;
  border-radius: 4px;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  position: absolute;
  top: 100%;
  left: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-content{
  h3{
    font-family: "Comic Sans MS", serif;
    font-weight: bold;
    font-size: 2.7em;
    color: rgba(58, 162, 134, 0.7);
  }

  h4{
    font-family: "Comic Sans MS", serif;
    font-weight: 500;
    font-size: 1.8em;
    font-style: italic;
    color: rgba(120,120,120, 0.9);
  }

  p{
    font-family: Chalkboard;
  }
}