/*.App {*/
/*text-align: center;*/
/*}*/

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 40vmin;*/
/*pointer-events: none;*/
/*}*/

/*.App-header {*/
/*background-color: #282c34;*/
/*min-height: 100vh;*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: center;*/
/*font-size: calc(10px + 2vmin);*/
/*color: white;*/
/*}*/

/*.App-link {*/
/*color: #61dafb;*/
/*}*/

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.main-color {
  background-color: rgb(58, 162, 134);
}

.btn-green {
  background-color: rgb(58, 162, 134);
  color: white;
  border: 1px solid transparent;
}

.btn-green:hover {
  border: 1px solid white;
}

.navButtonFontColor {
  color: white
}

.footer {
  color: white;
  max-height: 100px;
  background-color: rgb(58, 162, 134);
}

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/


#largeBlackText {
  font-size: 32px;
  font-weight: 700;
}

#blackItalicParagraphText1 {
  font-style: italic;
  margin-bottom: 10px;
  color: black;
}

#blackItalicParagraphText2 {
  font-style: italic;
  margin-bottom: 10px;
  color: black;
}

#blueHiderLinkThing {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.listItem {
  text-indent: 10px;
}

.highlightedBlackText {
  font-weight: bolder;
  color: blue;
  display: inline;
}

#note {
  color: aqua;
  background: blue;
  padding: 10px;
}
